<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!--To inherit the global NuGet package sources remove the <clear/> line below -->
    <clear />
 <add key="JFrogArtifactory" value="https://jfrog.tapsi.doctor/artifactory/api/nuget/nuget" />
  </packageSources>
 <packageSourceCredentials>
  <JFrogArtifactory>
   <add key="Username" value="admin" />
   <add key="ClearTextPassword" value="QWxpekAxMjM=" />
   <add key="ValidAuthenticationTypes" value="basic" />
  </JFrogArtifactory>
 </packageSourceCredentials>
</configuration>